.hero {
	height: 100vh;
	min-height: 650px;
	background: url(../img/hero/first_bg.jpg) center center/cover no-repeat;
	padding-top: 15px;
	padding-bottom: 90px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 27px;
}
.header__logo {
	width: 250px;
	img {
		width: 100%;
	}
}
.header__official {
	p {
		color: #fff;
		font-size: 12px;
		margin: 0;
	}
	span {
		color: #fff;
		font-size: 18px;
		margin: 0;
	}
}
.contacts {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	a {
		color: #fff;
		font-weight: 700;
		font-size: 18px;
		text-decoration: none;
		margin-bottom: 10px;
	}
}
.button {
	padding: 16px 32px;
	background: #c70101;
	border-radius: 5px;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	border: 2px solid #c70101;
	cursor: pointer;
	&:hover {
		background: #dc0e0e;
	}
}
.hero__page {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 100px;
}
.hero__title {
	color: #fff;
	font-size: 42px;
	line-height: 1.5;
	font-weight: 700;
	text-align: right;
	text-transform: uppercase;
	margin: 0;
}
.hero__subtitle {
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	text-align: right;
	text-transform: uppercase;
	margin: 0;
}
.page__text {
	margin-bottom: 60px;
}
.hero__trigger {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 45px;
}
.item {
	text-align: center;
	width: 26%;
}
.item__text {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}
.page__button {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.page__link {
	a {
		text-transform: uppercase;
		color: #fff;
		font-size: 16px;
		font-weight: 500;
		margin-left: 10px;
		&:hover {
			text-transform: uppercase;
			color: #c70101;
		}
	}
	p {
		color: #fff;
		font-size: 16px;
		font-weight: 500;
	}
}


