

.contacts {
  position: relative;
}
  

.contact {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  padding: 20px;
  width: 400px;
  height: 200px;
  background-color: #c70101;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  &__addr {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
  }
  &__phone {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
  }
 
}
.contact__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 100%;
    margin-left: 20px;
    & img {
      height: 30px;
    }
  }
  
}
  