





body {
    font-family: 'Museo Sans';
}
.container {
    width: 1170px;
    margin: 0 auto;
}

@import "hero";
@import "advantages";
@import "consultation";
@import "form";
@import "carusel";
@import "catalog";
@import "review";







